spring:
  output:
    ansi:
      enabled: always
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3307/chat_dev?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSsl=false
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
